<section *ngIf="step1" class="w-50 mx-auto rounded shadow bg-main-light p-3">
    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
        <label for="email">Email</label>
        <input formControlName="email" type="email" class="form-control" id="email">
        <button class="main-btn w-100 mt-2">Forgot Passwors</button>
        <p *ngIf="userMsg" class="alert alert-success w-75 mx-auto p-1 mb-0">{{userMsg}}</p>
    </form>
</section>

<section *ngIf="step2" class="w-50 mx-auto rounded shadow bg-main-light p-3">
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
        <label for="resetCode">Reset Code</label>
        <input formControlName="resetCode" type="text" class="form-control" id="resetCode">
        <button class="main-btn w-100 mt-2">Reset Code</button>
        <p *ngIf="userMsg" class="alert alert-success w-75 mx-auto p-1 mb-0">{{userMsg}}</p>
    </form>
</section>

<section *ngIf="step3" class="w-50 mx-auto rounded shadow bg-main-light p-3">
    <form [formGroup]="resetPassword" (ngSubmit)="newPassword()">
        <label for="newPassword">Reset Password</label>
        <input formControlName="newPassword" type="text" class="form-control" id="newPassword">
        <button class="main-btn w-100 mt-2">Reset Password</button>
        <p *ngIf="userMsg" class="alert alert-success w-75 mx-auto p-1 mb-0">{{userMsg}}</p>
    </form>
</section>