<section *ngIf="productDetails" class="w-75 mx-auto rounded shadow p-3 mb-4">
    <div class="row align-items-center g-4">
        <div class="col-md-3">
            <owl-carousel-o [options]="productDetailsOptions">

                <ng-container *ngFor="let path of productDetails.images">
                  <ng-template carouselSlide>
                    <img [src]="path" class="w-100">
                  </ng-template>
                </ng-container>
            
              </owl-carousel-o>
        </div>
        <div class="col-md-9">
          <div>
            <h2 class="h5">{{productDetails.title}}</h2>
            <p class="text-muted small">{{productDetails.description}}</p>
            <span>{{productDetails.category.name}}</span>

            <div class="d-flex align-items-center justify-content-between my-3">
                <span class="small">
                   {{productDetails.price | currency:"EGP"}}
                </span>
                <p class="mb-0">
                    <i class="fa-solid fa-star" style="color: #cdbc04;"></i>
                    {{productDetails.ratingsAverage}}
                </p>
            </div>
            <button (click)="addProduct(productDetails._id, btnAdd)" #btnAdd class="main-btn w-100 py-2">+Add To Cart</button>
          </div>
        </div>
    </div>
</section>