<section *ngIf="brandDetails._id" class="w-75 mx-auto rounded shadow bg-main-light p-3 my-2">
    <div class="row g-4 align-items-center">
      <div class="col-md-6">
        <img class="w-100" [src]="brandDetails.image" [alt]="brandDetails.name">
      </div>
      <div class="col-md-6">
        <h2>{{brandDetails.name}}</h2>
      </div>
      <div>
        <p class="text-main m-0 p-0">Creat: {{brandDetails.createdAt}}</p>
        <p class="text-main m-0 p-0">Update: {{brandDetails.updatedAt}}</p>
      </div>
    </div>
  </section>