<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
            <img src="./assets/images/freshcart-logo.svg" alt="fresh cart logo">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 align-items-center">
                <li class="nav-item d-flex gap-3 me-3">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-tiktok"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-youtube"></i>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/login">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/register">register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>